/* frontend */
.blaze-container .blaze-track>* {
  align-items: center;
  background: #aaa;
  border: 2px solid #222;
  border-radius: 6px;
  color: #fff;
  display: flex;
  font-size: 30px;
  height: 200px;
  justify-content: center;
}
